<p>Hi <b>{{ parent_author }}</b>,</p>
<p><b>{{ author }}</b> has replied you on Steemit. </p>
<p>======</p>
<pre>{{ body }}</pre>
<p>======</p>
<p>You can also click this link <a href="{{ reply_url }}">{{ reply_url }}</a> to explore.</p>
<p></p>
<p>This message is from the <a href="https://steem-mention.com">SteemMention</a>.</p>
