<p>Hi <b>{{ to }}</b>,</p>
<p><b>{{ from }}</b> has sent you <b style="color: green; font-weight: 900;">{{ amount }}</b>. </p>
{% if memo != '' %}
<p>The memo is: {{ memo }}.</p>
{% endif %}
<p></p>
<p>You can also click this link <a href="{{ transfer_url }}">{{ transfer_url }}</a> to check it.</p>
<p></p>
<p>This message is from the <a href="https://steem-mention.com">SteemMention</a>.</p>
