<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/steem-mention.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/global.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
